{{- if .Values.kraan.kraanController.enabled }}
apiVersion: apps/v1
kind: Deployment
metadata:
  name: kraan-controller
  namespace: {{.Release.Namespace}}
  labels:
    control-plane: controller
spec:
  selector:
    matchLabels:
      app: kraan-controller
  replicas: 1
  template:
    metadata:
      labels:
        app: kraan-controller
        {{- if .Values.global.extraLabels }}
{{ toYaml .Values.global.extraLabels | indent 8 }}
        {{- end }}
        {{- if .Values.kraan.kraanController.extraLabels }}
{{ toYaml .Values.kraan.kraanController.extraLabels | indent 8 }}
        {{- end }}
      annotations:
        {{- if .Values.global.extraPodAnnotations }}
{{ toYaml .Values.global.extraPodAnnotations | indent 8 }}
        {{- end }}
        {{- if .Values.kraan.kraanController.extraPodAnnotations }}
{{ toYaml .Values.kraan.kraanController.extraPodAnnotations | indent 8 }}
        {{- end }}
        {{- if .Values.kraan.kraanController.prometheus.enabled }}
{{ toYaml .Values.global.prometheusAnnotations | indent 8 }}
        {{- end }}
    spec:
      serviceAccountName: kraan
      containers:
      - name: manager
        image: {{ .Values.kraan.kraanController.image.repository }}/{{ .Values.kraan.kraanController.image.name }}:{{ .Values.kraan.kraanController.image.tag  | default .Chart.AppVersion }}
        imagePullPolicy: {{ .Values.kraan.kraanController.image.imagePullPolicy | default "IfNotPresent" }}
        securityContext:
          allowPrivilegeEscalation: false
          readOnlyRootFilesystem: {{ .Values.kraan.kraanController.devmode }}
        volumeMounts:
        - mountPath: /controller/data
          name: data
        - mountPath: /tmp
          name: tmp
        args:
        - --enable-leader-election
        {{ if ne (.Values.kraan.kraanController.args.logLevel | toString | atoi) 0 }}
        - --zap-log-level={{ .Values.kraan.kraanController.args.logLevel }}
        {{ end }}
        - --zap-encoder=json
        - --sync-period={{ .Values.kraan.kraanController.args.syncPeriod }}
        env:
        - name: RUNTIME_NAMESPACE
          valueFrom:
            fieldRef:
              fieldPath: metadata.namespace
        - name: DATA_PATH
          value: /controller/data
        ports:
        - containerPort: 9440
          name: healthz
          protocol: TCP
        - containerPort: 8080
          name: http-prom
          protocol: TCP
        readinessProbe:
          httpGet:
            path: /readyz
            port: healthz
          initialDelaySeconds: 10
          periodSeconds: 10
          failureThreshold: 5
          timeoutSeconds: 15
        livenessProbe:
          failureThreshold: 3
          httpGet:
            path: /metrics
            port: http-prom
            scheme: HTTP
          periodSeconds: 10
          successThreshold: 1
          timeoutSeconds: 1
        resources:
{{ toYaml .Values.kraan.kraanController.resources | indent 10 }}
      terminationGracePeriodSeconds: 10
      {{- if .Values.kraan.kraanController.imagePullSecrets.name }}
      imagePullSecrets:
      - name: {{ .Values.kraan.kraanController.imagePullSecrets.name }}
      {{- end }}
    {{- if .Values.kraan.kraanController.nodeSelector }}
      nodeSelector:
{{ toYaml .Values.kraan.kraanController.nodeSelector | indent 8 }}
    {{- end }}
    {{- if .Values.kraan.kraanController.tolerations }}
      tolerations:
{{ toYaml .Values.kraan.kraanController.tolerations | indent 8 }}
    {{- end }}
    {{- if .Values.kraan.kraanController.affinity }}
      affinity:
{{ toYaml .Values.kraan.kraanController.affinity | indent 8 }}
    {{- end }}
      volumes:
      - name: data
      - name: tmp
{{- end }}